// ブレイクポイント
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// カラー
$background-color: #f0f0f0;
$white-color: #fff;
$text-color: #333;
$wrapper-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$hover-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
